body{
    margin: 0 auto;
    width: 70%;
}

section{
    width: 100%;
}

#myCanvas{
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border: 3px solid black;
    /* Needs to be display block, otherwise it won't center */
    display: block;
}